@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>CategoryId</th>
            <th>BirthDate</th>
            <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.CategoryId</td>
                    <td>@user.BirthDate</td>
                    <td>@user.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
